*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html body {
  margin: 0;
  padding: 0;
}

#active {
  border-bottom: 0.25rem solid #db7a4e;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
}
.main-nav .main-nav__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #335576;
  margin-left: 5rem;
}
.main-nav .main-nav__list {
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
  width: 30vw;
  margin-right: 4rem;
  font-weight: 600;
}
.main-nav .main-nav__list li .main-nav__item {
  color: #335576;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fefaf5;
  height: 50vh;
  padding-top: 4rem;
}
.hero .hero-left {
  width: 47vw;
}
.hero .hero-left h1 {
  font-size: 2.2rem;
}
.hero .hero-left a {
  background-color: #DB7A4E;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.hero .hero-right {
  display: flex;
  align-items: center;
  background-image: url(../../assets/Images/hero.png);
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 24rem;
}

.recommendations .recommendations_header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #335576;
}
.recommendations .recommendations-box {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.recommendations .recommendations-box .hawaii {
  background-image: url(/assets/Images/hawaii.jpg);
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.recommendations .recommendations-box .iceland {
  background-image: url(/assets/Images/iceland.jpg);
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.recommendations .recommendations-box .greece {
  background-image: url(/assets/Images/greece.jpg);
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.recommendations .recommendations-box .recommendations_box__item {
  height: 70%;
  width: 20%;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.recommendations .recommendations-box .recommendations_box__item .item {
  padding: 0.6rem;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}

.activity {
  background-color: #FEFAF5;
  width: 14rem;
  height: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  border-bottom: 0.12rem black solid;
  width: 14rem;
  text-align: center;
}

footer {
  background-color: #FEFAF5;
  height: 12vh;
}

.footer_container {
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: #FEFAF5;
  align-items: flex-start;
}
.footer_container .footer_contact .contact_item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_container .footer_contact .contact_item .contact_head {
  color: #335576;
}
.footer_container .footer_contact .contact_item .contact_subhead {
  color: #DB7A4E;
}
.footer_container .footer_contact .contact_item .contact_subhead .contact_subheader {
  margin: 0 0 0.4rem 0;
  font-size: 0.85rem;
  font-weight: 600;
}
.footer_container .footer_hours {
  width: 50vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_container .footer_hours .hours_header {
  color: #335576;
}
.footer_container .footer_hours .hours_subheader {
  width: 100%;
}
.footer_container .footer_hours .hours_subheader ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  display: flex;
  padding: 0;
  color: #DB7A4E;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  line-height: 0;
}
.footer_container .footer_hours .hours {
  width: 100%;
  line-height: 0;
  color: #335576;
}
.footer_container .footer_hours .hours ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  padding: 0;
}
.footer_container .footer_social {
  height: 10rem;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.footer_container .footer_social .social_head {
  margin-bottom: 1.5rem;
}
.footer_container .footer_social .social_head .social_header {
  color: #335576;
}
.footer_container .footer_social .social_icons {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.footer_container .footer_social .social_icons a {
  text-decoration: none;
}
.footer_container .footer_social .social_icons a img {
  width: 2rem;
}
.footer_container .footer_social .social_icons a .facebook {
  width: 1rem;
}

h1 {
  color: white;
  font-size: 3rem;
  margin: 0;
  position: absolute;
  left: 5%;
  top: 13%;
  font-size: 5rem;
  z-index: 0;
}

.destination-container1,
.destination-container2,
.destination-container3 {
  background-size: cover;
  background-position: center;
  padding-top: 4rem;
}

.destination-container1 {
  background-image: url(/assets/Images/greece.jpg);
}

.destination-container2 {
  background-image: url(/assets/Images/hawaii.jpg);
}

.destination-container3 {
  background-image: url(/assets/Images/iceland.jpg);
}

.destination {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  background: white;
  width: 20vw;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 0.6rem;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 1rem;
}
.day ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
.day h5 {
  margin: 0;
  font-size: 1.2rem;
}/*# sourceMappingURL=destination.css.map */