*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html body {
  margin: 0;
  padding: 0;
}

#active {
  border-bottom: 0.25rem solid #db7a4e;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
}
.navbar a {
  text-decoration: none;
}
.navbar__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #335576;
  margin-left: 5rem;
}
.navbar__list {
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
  width: 30vw;
  margin-right: 4rem;
  font-weight: 600;
}
li .navbar__list__item {
  color: #335576;
  text-decoration: none;
}
.navbar__list a:hover {
  color: #ffffff;
  background-color: #DB7A4E;
  border-radius: 1rem;
  padding: 0.1rem 0.2rem;
}

footer {
  background-color: #FEFAF5;
  height: 12vh;
}

.footer {
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: #FEFAF5;
  align-items: flex-start;
}
.footer .footer__contact .footer__contact--item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer__contact .footer__contact--item .footer__contact--head {
  color: #335576;
}
.footer .footer__contact .footer__contact--item .footer__contact--subhead {
  color: #DB7A4E;
}
.footer .footer__contact .footer__contact--item .footer__contact--subhead .footer__contact--subheader {
  margin: 0 0 0.4rem 0;
  font-size: 0.85rem;
  font-weight: 600;
}
.footer .footer__contact .footer__contact--item .footer__contact--email {
  padding-top: 1rem;
}
.footer .footer__contact .footer__contact--item .footer__contact--email .email {
  text-decoration: none;
  color: #335576;
  font-weight: 500;
}
.footer .footer__hours {
  width: 50vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footer__hours .footer__hours--header {
  color: #335576;
}
.footer .footer__hours .footer__hours--subheader {
  width: 100%;
}
.footer .footer__hours .footer__hours--subheader ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  display: flex;
  padding: 0;
  color: #DB7A4E;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  line-height: 0;
}
.footer .footer__hours .footer__hours--times {
  width: 100%;
  line-height: 0;
  color: #335576;
}
.footer .footer__hours .footer__hours--times ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  padding: 0;
}
.footer .footer__social {
  height: 10rem;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.footer .footer__social .footer__social--head {
  margin-bottom: 1.5rem;
}
.footer .footer__social .footer__social--head .footer__social--header {
  color: #335576;
}
.footer .footer__social .footer__social--icons {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.footer .footer__social .footer__social--icons a {
  text-decoration: none;
}
.footer .footer__social .footer__social--icons a img {
  width: 2rem;
}
.footer .footer__social .footer__social--icons a .facebook {
  width: 1rem;
}

.gettingstarted {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/Images/plane.jpg);
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.gettingstarted__container {
  text-align: center;
}

.contact-surname,
.contact-name {
  width: 25%;
  border-radius: 5px;
  height: 45px;
  padding-left: 15px;
}

.contact-destination,
.contact-email {
  width: 50%;
  margin: 0.5rem 0;
  border-radius: 5px;
  height: 45px;
  padding-left: 15px;
}

.contact-msg {
  resize: none;
  width: 50%;
  height: 140px;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 5px;
}

.contact-btn {
  width: 25%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #DB7A4E;
  cursor: pointer;
}

.contact-btn:hover {
  color: #DB7A4E;
  background-color: white;
}/*# sourceMappingURL=get-started.css.map */