*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html body {
  margin: 0;
  padding: 0;
}

#active {
  border-bottom: 0.25rem solid #db7a4e;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 1;
}
.main-nav .main-nav__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #335576;
  margin-left: 5rem;
}
.main-nav .main-nav__list {
  justify-content: space-around;
  display: flex;
  align-items: center;
  list-style: none;
  width: 30vw;
  margin-right: 4rem;
  font-weight: 600;
}
.main-nav .main-nav__list li .main-nav__item {
  color: #335576;
  text-decoration: none;
}

footer {
  background-color: #FEFAF5;
  height: 12vh;
}

.footer_container {
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-color: #FEFAF5;
  align-items: flex-start;
}
.footer_container .footer_contact .contact_item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_container .footer_contact .contact_item .contact_head {
  color: #335576;
}
.footer_container .footer_contact .contact_item .contact_subhead {
  color: #DB7A4E;
}
.footer_container .footer_contact .contact_item .contact_subhead .contact_subheader {
  margin: 0 0 0.4rem 0;
  font-size: 0.85rem;
  font-weight: 600;
}
.footer_container .footer_hours {
  width: 50vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_container .footer_hours .hours_header {
  color: #335576;
}
.footer_container .footer_hours .hours_subheader {
  width: 100%;
}
.footer_container .footer_hours .hours_subheader ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  display: flex;
  padding: 0;
  color: #DB7A4E;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  line-height: 0;
}
.footer_container .footer_hours .hours {
  width: 100%;
  line-height: 0;
  color: #335576;
}
.footer_container .footer_hours .hours ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  flex-direction: row;
  padding: 0;
}
.footer_container .footer_social {
  height: 10rem;
  width: 15%;
  display: flex;
  flex-direction: column;
}
.footer_container .footer_social .social_head {
  margin-bottom: 1.5rem;
}
.footer_container .footer_social .social_head .social_header {
  color: #335576;
}
.footer_container .footer_social .social_icons {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
}
.footer_container .footer_social .social_icons a {
  text-decoration: none;
}
.footer_container .footer_social .social_icons a img {
  width: 2rem;
}
.footer_container .footer_social .social_icons a .facebook {
  width: 1rem;
}

.gs-container {
  height: 80vh;
  display: flex;
  align-items: center;
  background-image: url(/assets/Images/plane.jpg);
  justify-content: space-around;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.contact-container {
  text-align: center;
}

.form {
  padding-bottom: 1rem;
  width: 50%;
  height: 100%;
}

.contact-surname,
.contact-name {
  width: 25%;
  border-radius: 5px;
  height: 45px;
  padding-left: 15px;
}

.contact-destination,
.contact-email {
  width: 50%;
  margin: 0.5rem 0;
  border-radius: 5px;
  height: 45px;
  padding-left: 15px;
}

.contact-msg {
  resize: none;
  width: 50%;
  height: 140px;
  margin-top: 0.5rem;
  border-radius: 5px;
  padding-left: 15px;
  padding-top: 5px;
}

.contact-btn {
  width: 25%;
  height: 100%;
  padding: 10px;
  outline: none;
  border: none;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #DB7A4E;
  cursor: pointer;
}

.contact-btn:hover {
  color: #DB7A4E;
  background-color: white;
}/*# sourceMappingURL=get-started.css.map */