*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#active {
  border-bottom: 0.25rem solid #db7a4e;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;
}
.main-nav .main-nav__header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #335576;
}
.main-nav .main-nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 30vw;
  margin-right: 4rem;
  font-weight: 600;
}
.main-nav .main-nav__list li .main-nav__item {
  color: #335576;
  text-decoration: none;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fefaf5;
  height: 50vh;
  padding-top: 4rem;
}
.hero .hero-left {
  width: 47vw;
}
.hero .hero-left h1 {
  font-size: 2.2rem;
}
.hero .hero-left a {
  background-color: #DB7A4E;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
}
.hero .hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../assets/Images/hero.png);
  background-size: cover;
  background-position: center;
  height: 20rem;
  width: 24rem;
}

.recommendations .recommendations_header {
  font-size: 1.6rem;
  font-weight: 600;
  color: #335576;
}
.recommendations .recommendations-box {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.recommendations .recommendations-box .hawaii {
  background-image: url(/assets/Images/hawaii.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.recommendations .recommendations-box .iceland {
  background-image: url(/assets/Images/iceland.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.recommendations .recommendations-box .greece {
  background-image: url(/assets/Images/greece.jpg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.recommendations .recommendations-box .recommendations_box__item {
  height: 70%;
  width: 20%;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.recommendations .recommendations-box .recommendations_box__item .item {
  padding: 0.6rem;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}

footer {
  background-color: #FEFAF5;
  height: 12vh;
  padding: 1rem;
}

.footer_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FEFAF5;
  align-items: flex-start;
}
.footer_container .footer_contact .contact_header {
  color: #335576;
}
.footer_container .footer_hours {
  width: 50vw;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer_container .footer_hours .hours_header {
  color: #335576;
}
.footer_container .footer_hours .hours_subheader {
  width: 100%;
}
.footer_container .footer_hours .hours_subheader ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  padding: 0;
  color: #DB7A4E;
  font-weight: 500;
  font-size: 0.8rem;
}
.footer_container .footer_hours .hours {
  width: 100%;
}
.footer_container .footer_hours .hours ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-direction: row;
  padding: 0;
}
.footer_container .footer_social_header {
  color: #335576;
}
.footer_container .footer_social a {
  text-decoration: none;
}
.footer_container .footer_social a img {
  width: 2rem;
}
.footer_container .footer_social a .facebook {
  width: 1rem;
}

h1,
p {
  color: #335576;
}/*# sourceMappingURL=main.css.map */