@use "./variables.scss" as *;
@use "./resets.scss" as *;
@use "./mixins" as *;
footer{

  background-color: #FEFAF5;
    height: 12vh;
}
.footer{
  @include flex-around;
  background-color: $primarycolor;
  align-items: flex-start;
.footer__contact{
  .footer__contact--item{
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    .footer__contact--head{
    color: $secondarycolor;
  }
  .footer__contact--subhead{
        color: $thirdcolor;
        .footer__contact--subheader{
         margin: 0 0 0.4rem 0;
         font-size: 0.85rem;
         font-weight: 600;
        }
        
  }
  .footer__contact--email{
    padding-top: 1rem;
.email {
    text-decoration: none;
    color: $secondarycolor;
    font-weight: 500;
  }

  }
}
  
}
 .footer__hours{
  width: 50vw;
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    .footer__hours--header{
  color: $secondarycolor;
  }
  .footer__hours--subheader{
    width: 100%;
  ul{
    @include flex-between;
  list-style: none;
  display: flex;
  padding: 0;
  color: $thirdcolor;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  line-height: 0
};
};
.footer__hours--times{
  width: 100%;
  line-height: 0;
  color:$secondarycolor;
  ul{
    @include flex-between;
    list-style: none;
      flex-direction: row;
      padding: 0;
  }
}
 }
 .footer__social{
  height: 10rem;
  width: 15%;
    display: flex;
    flex-direction: column;
        .footer__social--head{
              margin-bottom: 1.5rem;
      .footer__social--header{
    color: $secondarycolor;
  }
    }
  .footer__social--icons{
    justify-content: space-between;
      display: flex;
      align-items: flex-start;
    a {
  text-decoration: none;
  
  img{
    width: 2rem;
  }
  .facebook {
  width: 1rem;
}

}
  }
  
 }
}
