@use "./variables.scss" as *;
@use "./resets.scss" as*;
@use "./mixins" as *;

.hero {
  @include flex-evenly;
  background-color: #fefaf5;
  height: 55vh;
  padding-top: 4rem;
  .hero__left {
  width: 47vw;
  h1{
    font-size: 2.2rem;
  }
  a{
    background-color:$thirdcolor;
    color: white;
   @include btn
  }
  a:hover{
    background-color: white;
      color: $thirdcolor;
      @include btn
  }
}

.hero__right {
  @include flex-center;
  background-image: url(../../assets/Images/hero.png);
    background-size: cover;
    background-position: center;
    height: 20rem;
    width: 24rem;
  ;
}
}

