@use "./variables.scss" as *;


@mixin subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: $secondarycolor;
}

@mixin card {
  @include flex-around;
  background-size: cover;
    background-position: center;
}

@mixin flex-around{
    justify-content: space-around;
    @include flex-center;
}

@mixin flex-between{
  @include flex-center;
    justify-content: space-between;   
}
@mixin flex-evenly {
  @include flex-center;
  justify-content: space-evenly;
}

@mixin flex-center{
  @include flex-center;
  justify-content: center;
}

@mixin display-center{
  display: flex;
  align-items: center
  ;
}
@include flex-center;