@use "./variables.scss" as *;


@mixin subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  color: $secondarycolor;
}

@mixin card {
  @include flex-center;
  background-size: cover;
    background-position: center;
}

@mixin flex-center{
  display: flex;
    justify-content: space-around;
    align-items: center;
}