@use "./variables.scss" as *;
@use "./mixins" as *;

#active {
  /* text-decoration: underline;
  text-decoration-color: #db7a4e;
  text-decoration-thickness: 0.2rem; */
  border-bottom: 0.25rem solid #db7a4e;
  padding-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 4rem;

  .main-nav__header {
  @include subtitle;
}

.main-nav__list {
  display: flex;
  list-style: none;
  width: 30vw;
  align-items: center;
  justify-content: space-around;
  margin-right: 4rem;
  font-weight: 600;
  li .main-nav__item {
  color: $secondarycolor;
  text-decoration: none;
}
}
}





