@use "./variables.scss" as *;
@use "./mixins" as *;

.recommendations{
.recommendations__header{
@include subtitle;
padding-left: 2rem;

}

.recommendations__box {
  width: 100%;
  height: 70vh;
  @include flex-evenly;
  .hawaii{
    background-image: url(/assets/Images/hawaii.jpg);
    @include card
  }
  .iceland{
    background-image: url(/assets/Images/iceland.jpg);
    @include card
  }
  .greece{
    background-image: url(/assets/Images/greece.jpg);
    @include card
  }

  .recommendations__box--item {
      height: 70%;
      width: 20%;
      border-radius: 1rem;
      @include flex-end;
      text-decoration: none;
.item {
    padding: 0.6rem;
    color: #ffff;
    font-weight: 600;
    font-size: 1.6rem;
    
  }
}
}
}
