@use "./variables.scss" as *;
@use "./mixins" as *;

.recommendations{
.recommendations_header{
@include subtitle;

}

.recommendations-box {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .hawaii{
    background-image: url(/assets/Images/hawaii.jpg);
    @include card
  }
  .iceland{
    background-image: url(/assets/Images/iceland.jpg);
    @include card
  }
  .greece{
    background-image: url(/assets/Images/greece.jpg);
    @include card
  }

  .recommendations_box__item {
      height: 70%;
      width: 20%;
      border-radius: 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
.item {
    padding: 0.6rem;
    color: #ffff;
    font-weight: 600;
    font-size: 1.6rem;
  }
}
}
}