
@use "./variables" as *;
@use "./resets.scss" as*;
@use "./navbar"as *;
@use "./hero"as *;
@use "./recommendations.scss" as*;
@use "./footer.scss" as*;
@use "./mixins" as *;

h1{
  color: white;
  font-size: 3rem;
  margin: 0;
    position: absolute;
    left: 5%;
    top: 13%;
    font-size: 5rem;
    z-index: 0;
}

.destination-container1,
.destination-container2,
.destination-container3{
  background-size: cover;
    background-position: center;
  // @include card
  padding-top: 4rem;
}



.destination-container1 {
  background-image: url(/assets/Images/greece.jpg);
}

.destination-container2{
background-image: url(/assets/Images/hawaii.jpg);
}

.destination-container3{
background-image: url(/assets/Images/iceland.jpg);
}
.destination {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day {
  background: #ffff;
  width: 20vw;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 0.6rem;
  flex-direction: column;
  padding:1rem;
  padding-bottom: 1rem;
  ul{
    list-style: none;
    display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      padding: 0;
  }
  h5{
    margin: 0;
    font-size: 1.2rem;
  }
}
