<<<<<<< HEAD
@use "./variables.scss" as *;
@use "./resets.scss" as*;
@use "./navbar.scss";
=======
@use "./variables" as *;
@use "./resets.scss" as*;
@use "./navbar.scss";
@use "./hero.scss" as*;
@use "./recommendations.scss" as*;
@use "./footer.scss";
@use "./mixins" as *;
.destination-container1,
.destination-container2,
.destination-container3{
  @include card
}



.destination-container1 {
  background-image: url(/assets/Images/greece.jpg);
}

.destination-container2{
background-image: url(/assets/Images/hawaii.jpg);
}

.destination-container3{
background-image: url(/assets/Images/iceland.jpg);
}
.destination {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}

.day {
  background: #ffff;
  width: 20vw;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  border-radius: 0.6rem;
  flex-direction: column;
  padding:1rem;
  padding-bottom: 1rem;
  ul{
    list-style: none;
    display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      padding: 0;
  }
  h5{
    margin: 0;
    font-size: 1.2rem;
  }
}
