
@use "./variables" as *;
@use "./resets.scss" as*;
@use "./navbar"as *;
@use "./hero"as *;
@use "./recommendations.scss" as*;
@use "./footer.scss" as*;
@use "./mixins" as *;

h1{
  color: white;
  font-size: 3rem;
  margin: 0;
    position: absolute;
    left: 5%;
    top: 13%;
    font-size: 5rem;
    z-index: 0;
}

.destination__greece,
.destination__hawaii,
.destination__iceland{
  background-size: cover;
    background-position: center;
  // @include card
  padding-top: 4rem;
}



.destination__greece {
  background-image: url(/assets/Images/greece.jpg);
}

.destination__hawaii{
background-image: url(/assets/Images/hawaii.jpg);
}

.destination__iceland{
background-image: url(/assets/Images/iceland.jpg);
}
.destination {
  height: 90vh;
  @include flex-center;
  justify-content: center;
}

.destination__day {
  background: #ffff;
  width: 20vw;
  margin: 1rem;
  @include flex-center;
  height: 50%;
  border-radius: 0.6rem;
  flex-direction: column;
  padding:1rem;
  padding-bottom: 1rem;
  ul{
    list-style: none;
    @include flex-between;
      flex-direction: column;
      height: 100%;
      padding: 0;
  }
  h5{
    margin: 0;
    font-size: 1.2rem;
  }
}
.destination__activity {
  background-color: #FEFAF5;
  width: 14rem;
  height: 3.1rem;
  @include flex-center;
  justify-content: center;
}

h5 {
  border-bottom: 0.12rem black solid;
  width: 14rem;
  text-align: center;
}